fastapi
uvicorn
requests
python-multipart
jinja2
# HTTP client for API requests
httpx
# For handling environment variables  
python-dotenv
aiohttp
beautifulsoup4
crewai
crewai-tools
flask
flask-cors
google-generativeai
langchain
pydantic
selenium
textblob